@charset "UTF-8";
/**
 * 
 * @authors Benjamin (zuojj.com@gmail.com)
 * @date    2016-11-16 17:23:39
 * @version $Id$
 */

body {
	background-color: #eab38e;
}

header {
	width: 960px;
	margin: 0 auto;
	text-align: center;
	height: 40px;
	line-height: 40px;
	background-color: #fff;
	box-shadow: 1px 1px 1px 1px #ccc;
}