.container {
    width: 500px;
    margin: 20px auto;
}
.ulist {
    line-height: 24px;

    margin: 0;
    padding: 0;

    list-style: none;

    background-color: #f6f6f6;
}
.ulist li {
    margin-bottom: 10px;

    background-color: #fff;
}

.ulist li a {
    font-size: 14px;

    display: block;

    color: #00c;
}
.ulist li p {
    font-size: 12px;

    margin: 0;
    padding: 0;

    color: #999;
}

.ulist li .suggest {
    font-size: 12px;

    color: #f00;
    border-top: 1px solid #f6f6f6;
}
